name: Sync Labels
on:
  push:
    branches: [main]
    paths:
      - '.github/workflows/sync-labels.yml'
      - '.github/labeler.yml'

jobs:
  sync-label:
    runs-on: ubuntu-latest
    steps:
      - uses: navikt/github-app-token-generator@793caf0d755fb4d6e88150825f680f188535cb48
        id: get-token
        with:
          private-key: ${{ secrets.TOKENS_PRIVATE_KEY }}
          app-id: ${{ secrets.TOKENS_APP_ID }}
      - name: Git checkout
        uses: actions/checkout@v6
      - uses: netlify/sync-labels-action@main
        with:
          github-token: ${{ steps.get-token.outputs.token }}
